.menu-left {
    width: 100%;
    background-color: white;
    height: 300vh;
    display: fixed;
    margin-right: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 1.5rem;
}

.account {
    margin: 0 1rem;
    padding: 0. 5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.account img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}