<main>
  <!-- <div class="intro">
        Cộng Đồng Chia Sẻ Đồ Không Còn Dùng
    </div> -->
  <div class="form_main">
    <div class="images_center col-9 mx-auto mb-4">
      <img src="../../assets/images/image-center.png" alt="" class="img-fluid">
    </div>
    <div class="div_images_bottom mx-auto mb-4">
      <div class="row">
        <div class="icon_png icon_1">
          <div class="image">
            <img src="../../assets/images/adoption-form.png" alt="" class="img-fluid">
          </div>
          <div class="content">Đăng Nhập</div>
        </div>
        <div class="icon_png icon_2">
          <div class="image mx-auto">
            <img src="../../assets/images/united.png" alt="" class="img-fluid">
          </div>
          <div class="content text-center">Cho Và Nhân</div>
        </div>
        <div class="icon_png icon_3 d-flex align-items-end flex-column">
          <div class="image">
            <img src="../../assets/images/phone-call.png" alt="" class="img-fluid">
          </div>
          <div class="content">Liên Hệ</div>
        </div>
      </div>
    </div>
    <div class="input_ mb-4">
      <form action="" method="" id="form_nhapten">
        <!-- <div class="div_ip_ten">
                  <input type="text" placeholder="..." class="w-100 ip_ten">
              </div> -->
        <div class="button_footer text-center">
          <button type="submit" class="btn_thamgia"><img src="./assets/images/logo gg.png" class="img-fluid" alt="">Sign
            in with Google
            <div class="button_footer_hover"></div>
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 mx-auto xemthu">
      <div class="row">
        <div class="p-0">
          <a class="p-0" href="#"><img src="../../assets/images/tap.png" alt="" class="img-fluid w-25px">Xem Thử</a>
        </div>
      </div>
    </div>
  </div>
</main>
