<header class="d-flex align-items-center">
  <div class="container">
    <div class="modal fade motal_newmember" id="showFormNewMember" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="showFormNewMemberLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content top-70px">

          <div class="modal-body body_modal_newmember">
            <img src="./assets/images/user clmain.png" class="img_motal_newmember" alt="">

            <form>
              <div class="mb-0">
                <label class="form-label">Số điện thoại</label>
                <input type="number" class="form-control useFontAwesomeFamily ip_modal_newmember"
                  placeholder="&#xf167; 84+">
              </div>
              <div class="mb-0">
                <label for="" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control ip_modal_newmember" id="">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Thành Phố</label>
                <select name="" class="ip_modal_newmember w-100 form-control select_thanhpho" id="">
                  <option value="">Hồ Chí Minh</option>
                  <option value="">Hà Nội</option>
                </select>
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="w-100 text-center">
                <button type="button" class="btn xacnhan_modal_newmember mx-auto">Xác nhận</button>

              </div>
            </form>
          </div>
          <div class="modal-footer footer_newmember">
            <h6 class="modal-title" id="showFormNewMemberLabel">Nhập thông tin của bạn (Chỉ nhập một lần)</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="header_div left d-inline-block d-flex align-items-center float-start">
      <div class="logo float-start mr-3pt">
        <img src="./assets/images/free-delivery.png" alt="" class="img-fluid">
      </div>
      <div class="div_nav float-start">
        <nav class="w-100">
          <li>
            <a href="">Cho Và Nhận </a>
          </li>
          <li>
            <a href="">Ủng Hộ</a>
          </li>
          <li>
            <a href="">Về Chúng Tôi</a>
          </li>
        </nav>
      </div>
    </div>
    <div class="header_div right d-inline-block bd-highlight ">
      <div class="timkiem position-relative float-end">
        <form action="" id="seach" class="d-inline-block">
          <input type="text" class="inputTimKiem" placeholder="Tìm kiếm">
        </form>
        <div class="icon_right_header d-inline-block">
          <i class="fas fa-search"></i>
        </div>

      </div>
      <div class="user d-inline-block float-end">
        <div class="d-inline-block cl-black-main">Hoàng Long</div>
        <div class="icon_right_header d-inline-block mr-r-25px">
          <i class="far fa-user"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<main class="mt-4">
  <div class="container float-none">
    <div class="left" id="main_left">
      <div class="block_hidden menu open show_menu" id="menu_main">
        <div class="w-100 ten_nguoi title_">
          <button class="btn p-0"><i class="fa fa-home fz-20px" aria-hidden="true"></i> Home</button>
          <button class="btn p-0 float-end mx-2 fz-20px" (click)="changeBlock('mess_main', 'id_menu');"><i
              class="fas fa-comment"></i></button>
          <button class="btn p-0 float-end fz-20px" (click)="changeBlock('id_menu', 'mess_main');"><i
              class="fas fa-bars"></i></button>
        </div>
        <div class="menu over-auto show hideCrollOverflow" id="id_menu">
          <div class="container mt-2">
            <div class="div_menu w-100">
              <div class="menu_item btn_menu">
                <div class="w-100"><img src="../../assets/images/alarm.png" class="w_23px mr-2pt" alt="">Thông báo <span
                    class="notice">2</span></div>
              </div>
            </div>
            <div class="div_menu w-100">
              <div class="menu_item btn_menu dropdown" (click)="dropdown('usdrop')">
                <div class="w-100"><img src="../../assets/images/user.png" class="w_23px mr-2pt" alt="">Tài khoản</div>
              </div>
              <div class="dropdowndiv" id="usdrop">
                <div class="dropdown_item">
                  Thông tin tài khoảng
                </div>
                <div class="dropdown_item">
                  Đổi mật khẩu
                </div>
                <div class="dropdown_item">
                  Đăng Xuất
                </div>
              </div>
            </div>
            <div class="div_menu w-100">
              <div class="menu_item btn_menu dropdown" (click)="dropdown('sukiendrop')">
                <div class="w-100"><img src="../../assets/images/teamwork.png" class="w_23px mr-2pt" alt="">Sự kiện
                </div>
              </div>
              <div class="dropdowndiv" id="sukiendrop">
                <div class="dropdown_item">
                  Quyên góp miền trung
                </div>
                <div class="dropdown_item">
                  Giúp người nghèo quận 12
                </div>
                <div class="dropdown_item">
                  Gia đình ông bảy
                </div>
              </div>
            </div>
            <div class="div_menu w-100">

              <div class="menu_item btn_menu">
                <div class="w-100"><img src="../../assets/images/floppy-disk.png" class="w_23px mr-2pt" alt="">Đã lưu
                </div>
              </div>
            </div>
            <div class="div_menu w-100">

              <div class="menu_item btn_menu">
                <div class="w-100"><img src="../../assets/images/heart top.png" class="w_23px mr-2pt" alt="">Yêu thích
                </div>
              </div>
            </div>
            <div class="div_menu w-100">

              <div class="menu_item btn_menu">
                <div class="w-100"><img src="../../assets/images/loyalty.png" class="w_23px mr-2pt" alt="">Mạnh thường
                  quân
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mess hideCrollOverflow" id="mess_main">
          <div class="container mt-3 d-flex justify-content-center">
            <div class="row">
              <div class="col-7 mx-1 pd-l-30px ten_nguoi">Mesages</div>
              <div class="col-1">
                <div class="online float-right">23</div>
              </div>
            </div>
          </div>
          <div class="list_us_on_mess w-100 ">
            <div class="container">
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Phương Hoàng Diệu</h5>
                  <h6 class="ten pd-x-2 mb-0 set_limit_text w-90">Chào bạn!!!</h6>
                </div>
                <div class="trang_thai_hoat_dong ms-auto"></div>
              </div>
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Phương Hoàng Long</h5>
                  <h6 class="ten pd-x-2 mb-0 set_limit_text w-90">Bạn đã tìm được chưa ?</h6>
                </div>
                <div class="trang_thai_hoat_dong ms-auto"></div>
              </div>
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Huỳnh Tấn Tài</h5>
                </div>

                <div class="trang_thai_hoat_dong ms-auto"></div>
              </div>
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Long Hoàng</h5>
                  <h6 class="ten pd-x-2 mb-0 set_limit_text w-90">Vâng người vô gia cư ở đó rất nhiều</h6>
                </div>
                <div class="ms-auto">
                  <h6 class="mb-0 text-end">10 phút trước</h6>
                </div>
              </div>
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Huỳnh Tấn Tài</h5>
                </div>

                <div class="trang_thai_hoat_dong ms-auto"></div>
              </div>
              <div class="user mt-3 w-100 d-flex align-items-center">
                <div class=" mr-5pt">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-50">
                  <h5 class="ten pd-x-2">Long Hoàng</h5>
                  <h6 class="ten pd-x-2 mb-0 set_limit_text w-90">Vâng người vô gia cư ở đó rất nhiều</h6>
                </div>
                <div class="ms-auto">
                  <h6 class="mb-0 text-end">2 phút trước</h6>
                </div>
              </div>
              <div class="form_timkiem">

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="mid float-end" id="mid_main">
      <div class="div_dang_bai w-100">
        <!-- <div class="mid-left">
                <img src="./assets/images/user.png" alt="" class="img-fluid">
            </div> -->
        <!-- Modal -->

        <div class="mid-right form-dang-bai w-100">
          <form action="" method="post" class="form_search">
            <div class="div_texa">
              <textarea name="" id="" class="w-100" rows="1" placeholder="Bạn muốn đăng gì?"></textarea>
            </div>
            <div class="control w-100 mt-4">
              <div class="left">
                <div class="row">
                  <img src="../../assets/images/picture.png" alt="" class="img-fluid">

                  <div class="col-10 p-0 d-flex align-items-center fz-11pt">
                    Images / Videos
                  </div>
                </div>
              </div>
              <div class="right">
                <button type="button" class="float-end" id="btn_chiase" data-bs-toggle="modal"
                  data-bs-target="#showFormNewMember">Chia
                  sẻ</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="div_bai_viet mt-4 w-100">
        <div class="div_info d-flex align-items-center w-100">
          <div class="left d-inline-block d-flex align-items-center">
            <div class="div_img d-inline-block mr-13px">
              <img src="../../assets/images/profile 2.png" class="img_avt" alt="">
            </div>
            <div class="div_info_us d-inline-block">
              <h3 class="cl-level-2 capdo">Phương Hoàng Diệu</h3>
              <h6>7:10:50 PM - 22/4/2021</h6>
            </div>
          </div>
          <div class="right d-inline-block d-flex justify-content-end">
            <img src="../../assets/images/menu.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="div_noidung mt-2">
          <h5>Explore the new Huracán STO through videos, <b>STO through videos</b> , car renderings and much more
            to enjoy every single detail of the latest Lamborghini V10 creation.</h5>
          <div class="div_images position-relative">
            <button class="button_slide btnleft" (click)="nextImages('1');"><i class="fas fa-angle-right"></i></button>
            <button class="button_slide btnright" (click)="prevImages('1');"><i class="fas fa-angle-left"></i></button>
            <div class="slides d-flex" id-blog="1">
              <div class="slider d-flex">
                <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                  class="img-fluid images border-radius-images">
              </div>
              <div class="slider d-flex">
                <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                  class="img-fluid images border-radius-images">
              </div>
              <div class="slider d-flex">
                <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                  class="img-fluid images border-radius-images">
              </div>
            </div>
          </div>
        </div>
        <div class="div_dieukhien w-100 mt-3">
          <img src="../../assets/images/heart-shape-outline-with-lining-at-right-edge.png" alt=""
            class="img-fluid btn-heart d-inline-block"> <span>56</span>
          <img src="../../assets/images/comment.png" alt="" class="img-fluid btn-heart d-inline-block">
          <span>5</span>
          <img src="../../assets/images/share.png" alt="" class="img-fluid btn-heart d-inline-block">
          <span>1</span>
        </div>
        <div class="div_hien_binh_luan w-100 text-center h-28px">
          <p class="m-0">Hiển thị bình luận</p>
          <img src="../../assets/images/download.png" alt="" class="img-fluid">
        </div>
        <div class="form_them_binhluan w-100">
          <form action="" method="post">
            <div class="div_them_binhluan w-100">
              <textarea name="" id="" class="w-100" placeholder="Bình luận ..." rows="1"></textarea>
              <!-- <button type="button" class="meme"><img src="../../assets/images/greetings.png" alt=""
                                class="img-fluid meme"></button>
                        <button type="button" class="picture"><img src="../../assets/images/picture.png" alt=""
                                class="img-fluid picture"></button> -->
              <button type="submit"><img src="../../assets/images/send-button.png" alt=""
                  class="img-fluid w-80"></button>
            </div>
          </form>
        </div>
      </div>
      <div class="div_bai_viet mt-4 w-100">
        <div class="div_info d-flex align-items-center w-100">
          <div class="left d-inline-block d-flex align-items-center">
            <div class="div_img d-inline-block mr-13px">
              <img src="../../assets/images/profile 2.png" class="img_avt" alt="">
            </div>
            <div class="div_info_us d-inline-block">
              <h3>Phương Hoàng Diệu</h3>
              <h6>7:10:50 PM - 22/4/2021</h6>
            </div>
          </div>
          <div class="right d-inline-block d-flex justify-content-end">
            <img src="../../assets/images/menu.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="div_noidung mt-3">
          <h5>Explore the new Huracán STO through videos, <b>STO through videos</b> , car renderings and much more
            to enjoy every single detail of the latest Lamborghini V10 creation.</h5>
          <div class="div_images w-100">
              <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                class="img-fluid images border-radius-images">
          </div>
        </div>
        <div class="div_dieukhien w-100 mt-3">
          <img src="../../assets/images/heart-shape-outline-with-lining-at-right-edge.png" alt=""
            class="img-fluid btn-heart d-inline-block"> <span>56</span>
          <img src="../../assets/images/comment.png" alt="" class="img-fluid btn-heart d-inline-block">
          <img src="../../assets/images/share.png" alt="" class="img-fluid btn-heart d-inline-block">
          <span>1</span>
        </div>
        <div class="div_hien_binh_luan w-100">

        </div>
        <div class="div_binh_luan w-100">
          <div class="binhluan w-100">
            <div class="info_us w-100">
              <div class="user mt-4 w-100 d-flex align-items-center">
                <div class="mr-13px d-flex align-self-start">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-100">
                  <h3 class="ten mb-1 cl-level-2 capdo">Phương Hoàng Diệu</h3>
                  <h6 class="mb-0">7:10:50 PM - 22/4/2021</h6>
                  <div class="div_content_comment mt-2 w-100">
                    <p class="mb-1 fz-14px">
                      Explore the new Huracán STO through videos, car renderings and much more to enjoy every single
                      detail of the latest <b> Lamborghini V10 creation</b> Explore the new Huracán STO through
                      videos....
                      <br> Explore the new Huracán STO through videos.
                    </p>
                  </div>
                  <div class="control_inComment w-100">
                    <div class="btn_rep cl-main">Trả lời</div>
                    <div class="btn_rep cl-main">Xem trả lời (2)</div>
                    <div class="btn_like cl-main">Thích (24)</div>
                  </div>
                  <div class="div_binhluan_tra_loi w-100">
                    <div class="div_binh_luan w-100">
                      <div class="binhluan w-100">
                        <div class="info_us w-100">
                          <div class="user mt-3 w-100 d-flex align-items-center">
                            <div class="mr-13px d-flex align-self-start">
                              <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                            </div>
                            <div class="w-100">
                              <h3 class="ten mb-1 cl-level-3 capdo">Hoàng Long</h3>
                              <h6 class="mb-0">7:10:50 PM - 22/4/2021</h6>
                              <div class="div_content_comment mt-2 w-100">
                                <p class="mb-1 fz-14px">
                                  Detail of the latest <b> Lamborghini V10 creation</b> Explore the new Huracán STO
                                  through videos....
                                  <br> Explore the new Huracán STO through videos.
                                </p>
                              </div>
                              <div class="control_inComment">
                                <div class="btn_rep cl-main">Trả lời</div>
                                <div class="btn_like cl-main">Thích (7)</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div_binh_luan w-100">
                      <div class="binhluan w-100">
                        <div class="info_us w-100">
                          <div class="user mt-3 w-100 d-flex align-items-center">
                            <div class="mr-13px d-flex align-self-start">
                              <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                            </div>
                            <div class="w-100">
                              <h3 class="ten mb-1 cl-level-3 capdo">Trần Thanh Tâm</h3>
                              <h6 class="mb-0">7:10:50 PM - 22/4/2021</h6>
                              <div class="div_content_comment mt-2 w-100">
                                <p class="mb-1">
                                  Of the latest?
                                </p>
                              </div>
                              <div class="control_inComment">
                                <div class="btn_rep cl-main">Trả lời</div>
                                <div class="btn_like">Thích</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_them_binhluan w-97">
                      <form action="" method="post">
                        <div class="div_them_binhluan w-100">
                          <textarea name="" id="" class="w-100" placeholder="Bạn ..." rows="1"></textarea>

                          <button type="submit"><img src="../../assets/images/send-button.png" alt=""
                              class="img-fluid w-80"></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="binhluan w-100">
            <div class="info_us w-100">
              <div class="user mt-4 w-100 d-flex align-items-center">
                <div class="mr-13px d-flex align-self-start">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-100">
                  <h3 class="ten mb-1">Phương Hoàng Diệu</h3>
                  <h6 class="mb-0">7:10:50 PM - 22/4/2021</h6>
                  <div class="div_content_comment mt-2 w-100">
                    <p class="mb-1 fz-14px">
                      Explore the new Huracán Explore the new Huracán STO through videos STO through videos, car
                      renderings and much more to enjoy every single
                      detail of the latest <b> Lamborghini V10 creation</b>.
                    </p>
                  </div>
                  <div class="control_inComment w-100">
                    <div class="btn_rep cl-main">Trả lời</div>
                    <div class="btn_like">Thích</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="binhluan w-100">
            <div class="info_us w-100">
              <div class="user mt-4 w-100 d-flex align-items-center">
                <div class="mr-13px d-flex align-self-start">
                  <img src="../../assets/images/profile 2.png" class="w_45px" alt="">
                </div>
                <div class="w-100">
                  <h3 class="ten mb-1 cl-level-4 capdo">Phương Hoàng Diệu</h3>
                  <h6 class="mb-0">7:10:50 PM - 22/4/2021</h6>
                  <div class="div_content_comment mt-2 w-100">
                    <p class="mb-1 fz-14px">
                      Explore the new Huracán STO through videos, car renderings and much more to enjoy every single
                      detail of the latest <b> Lamborghini V10 creation</b>.
                    </p>
                  </div>
                  <div class="control_inComment w-100">
                    <div class="btn_rep cl-main">Trả lời</div>
                    <div class="btn_like cl-main">Thích (2)</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form_them_binhluan w-100">
          <form action="" method="post">
            <div class="div_them_binhluan w-100">
              <textarea name="" id="" class="w-100" placeholder="Bình luận ..." rows="1"></textarea>
              <button type="submit"><img src="../../assets/images/send-button.png" alt=""
                  class="img-fluid w-80"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
