*,
*:before,
*:after {
    box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    margin: 0px;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    background-color: var(--bg_main);
}


/************** header **************/

header {
    margin: 0 auto;
    width: 70%;
    background: white;
    height: auto;
    border-radius: 0px 0px 25px 25px;
    padding: 15px 25px;
}

header .left {
    width: 60%;
}

header .right {
    width: 40%;
}

.header_div .logo {
    width: 7%;
}

.header_div .div_nav {
    width: 90%;
}

.header_div .div_nav nav li {
    display: inline-block;
    margin-right: 7%;
    font-weight: bold;
}

.header_div .div_nav nav li a {
    color: #202020;
    font-size: 1vw;
    font-weight: 500;
}

.div_input {
    position: relative;
    cursor: pointer;
}

.div_input::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--cl_main);
    border: 2px solid var(--cl_main);
    right: 0px;
}

.div_input .icon_search {
    position: absolute;
    top: 19%;
    right: 4%;
    width: 24px;
}

.div_input input {
    padding: 7px 10px;
    width: 80%;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    transition: 0.4s;
}

.div_input input:hover {
    border-color: #757575;
}

input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}


/************** header **************/

main div {
    float: left;
}

main .left {
    width: 25%;
    padding-right: 2rem;
}

main .mid {
    width: 50%;
}

main .mid .div_dang_bai,
main .mid .div_bai_viet {
    background-color: white;
    border-radius: 25px;
    min-height: 100px;
    padding: 25px;
    padding-bottom: 15px;
}

main .right {
    width: 25%;
}

.mid-left {
    width: 10%;
}

.mid-left img {
    width: 70%;
}

.mid-right {
    width: 90%;
}

.div_texa {
    width: 100%;
    /* padding: 15px; */
    /* border: 1px solid #C4C4C4; */
    border-radius: 10px;
    transition: 0.4s;
}

.div_texa textarea {
    border: none;
}

.div_texa textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.form_search .control div {
    float: left;
}

.form_search .control .left .row img {
    width: 15%;
    padding: 0px 14px;
}

.form_search .control .left,
.form_search .control .right {
    width: 50%;
}

.form_search .control .right button {
    border: none;
    border-radius: 10px;
    background-color: var(--cl_main);
    box-shadow: 4px 4px 12px var(--cl_main);
    color: white;
    width: 45%;
    padding: 7px;
    font-size: 12pt;
}

.div_bai_viet .div_info .left {
    width: 90%;
}

.border-radius-images {
    border-radius: 12px;
}

.images {
    height: auto;
}

.div_info_us {
    padding-top: 1%;
}

.div_info_us h3 {
    margin-bottom: 1px;
}


.div_bai_viet .div_info .left .div_info_us p {
    margin-bottom: 1%;
}

.div_bai_viet .div_info .left .div_info_us .datetime {
    color: gray;
    font-size: 0.6vw;
}

.div_bai_viet .div_info .right {
    width: 10%;
}

.div_bai_viet .div_info .right img {
    width: 15px;
    cursor: pointer;
}

.div_dieukhien img {
    width: 22px;
    margin-right: 10px;
}

.div_dieukhien span {
    margin-right: 1.2%;
}

.div_hien_binh_luan {
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.h-28px {
    height: 28px;
}

.div_hien_binh_luan img {
    width: 10px;
    margin-top: -10px;
}

.div_them_binhluan {
    position: relative;
    border-bottom: 1px solid #000000;
}

.div_them_binhluan textarea {
    border: none;
    margin-top: 10px;    
}

textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.div_them_binhluan button {
    position: absolute;
    width: 40px;
    border: none;
    background: none;
    right: 0px;
    margin-top: -0.7%;
}

.div_them_binhluan .meme {
    right: 77px;
}

.div_them_binhluan .picture {
    right: 43px;
}

.div_images {
    display: flex;
}

.div_images > div:not(:last-child) {
    margin-right: 2%;
  }

/************** main **************/


/********* margin *********/

.mr-5pt {
    margin-right: 5%;
}

.mr-4pt {
    margin-right: 4%;
}

.mr-3pt {
    margin-right: 3%;
}

.mr-2pt {
    margin-right: 2%;
}

/* padding */

.pd-20px {
    padding: 20px;
}

/* font size */

.fz-11pt {
    font-size: 11pt;
}

.ten_nguoi {
    font-size: 1vw;
    font-weight: 500;
}

.fz-1vw {
    font-size: 1vw;
}


h3 {
    font-size: 16px;
    font-weight: 500;
}

h6 {
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

h5 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 1.3%;
}


/* ******* # ********** */

.img_avt {
    width: 50px;
}

.img_1 {
    flex: 1.3344;
}

.img_2 {
    flex: 1.3345;
}

.img_3 {
    flex: 0.7505;
}

.img_4 {
    flex: 1.5023;
}

.img_5 {
    flex: 0.75;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.w-80 {
    width: 80%;
}