<!-- <header class="d-flex align-items-center">
    <div class="header_div left d-inline-block d-flex align-items-center">
        <div class="logo float-left mr-3pt">
            <img src="./assets/images/logo.png" alt="" class="img-fluid">
        </div>
        <div class="div_nav float-left">
            <nav class="w-100">
                <li>
                    <a href="">Cho Và Nhận </a>
                </li>
                <li>
                    <a href="">Ủng Hộ</a>
                </li>
                <li>
                    <a href="">Về Chúng Tôi</a>
                </li>
            </nav>
        </div>
    </div>
    <div class="header_div right d-inline-block">
        <form action="" id="seach">
            <div class="div_input d-flex flex-row-reverse bd-highlight">
                <img src="./assets/images/white search.png" class="icon_search" alt="">
                <input type="text" placeholder="Tìm kiếm ...">
            </div>
        </form>
    </div>
</header> -->
<main class="mt-4">
    <div class="left">
        <app-menuleft></app-menuleft>
    </div>
    <div class="mid">
        <div class="div_dang_bai">
            <div class="mid-left">
                <img src="./assets/images/user.png" alt="" class="img-fluid">
            </div>
            <div class="mid-right form-dang-bai">
                <form action="" method="post" class="form_search">
                    <div class="div_texa">
                        <textarea name="" id="" class="w-100" rows="5" placeholder="Bạn muốn đăng gì?"></textarea>
                    </div>
                    <div class="control w-100 mt-4">
                        <div class="left">
                            <div class="row">
                                <img src="../../assets/images/picture.png" alt="" class="img-fluid">

                                <div class="col-10 p-0 d-flex align-items-center fz-11pt">
                                    Images / Videos
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <button type="submit" class="float-right" id="btn_chiase">Chia sẻ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="div_bai_viet mt-4 w-100">
            <div class="div_info d-flex align-items-center w-100">
                <div class="left d-inline-block d-flex align-items-center">
                    <div class="div_img d-inline-block mr-2pt">
                        <img src="../../assets/images/profile.png" class="img_avt" alt="">
                    </div>
                    <div class="div_info_us d-inline-block">
                        <h3>Phương Hoàng Diệu</h3>
                        <h6>7:10:50 PM - 22/4/2021</h6>
                    </div>
                </div>
                <div class="right d-inline-block d-flex justify-content-end">
                    <img src="../../assets/images/menu.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="div_noidung mt-2">
                <h5>Explore the new Huracán STO through videos, <b>STO through videos</b> , car renderings and much more
                    to enjoy every single detail of the latest Lamborghini V10 creation.</h5>
                <div class="div_images w-100">
                    <div class="img_1">
                        <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                            class="img-fluid images border-radius-images">
                    </div>
                    <div class="img_2">
                        <img src="../../assets/images/cua-hang-do-cu-elle-viet-nam.jpg" alt=""
                            class="img-fluid images border-radius-images">
                    </div>
                </div>
            </div>
            <div class="div_dieukhien w-100 mt-3">
                <img src="../../assets/images/heart-shape-outline-with-lining-at-right-edge.png" alt=""
                    class="img-fluid btn-heart d-inline-block"> <span>56</span>
                <img src="../../assets/images/comment.png" alt="" class="img-fluid btn-heart d-inline-block">
                <span>5</span>
                <img src="../../assets/images/share.png" alt="" class="img-fluid btn-heart d-inline-block">
                <span>1</span>
            </div>
            <div class="div_hien_binh_luan w-100 text-center">
                <p class="m-0">Hiển thị bình luận</p>
                <img src="../../assets/images/download.png" alt="" class="img-fluid">
            </div>
            <div class="form_them_binhluan w-100">
                <form action="" method="post">
                    <div class="div_them_binhluan w-100">
                        <textarea name="" id="" class="w-100" placeholder="Bình luận ..." rows="1"></textarea>
                        <button type="button" class="meme"><img src="../../assets/images/greetings.png" alt=""
                                class="img-fluid meme"></button>
                        <button type="button" class="picture"><img src="../../assets/images/picture.png" alt=""
                                class="img-fluid picture"></button>
                        <button type="submit"><img src="../../assets/images/enter.png" alt=""
                                class="img-fluid"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="div_bai_viet mt-4 w-100">
            <div class="div_info d-flex align-items-center w-100">
                <div class="left d-inline-block d-flex align-items-center">
                    <div class="div_img d-inline-block mr-2pt">
                        <img src="../../assets/images/profile.png" class="img_avt" alt="">
                    </div>
                    <div class="div_info_us d-inline-block">
                        <h3>Phương Hoàng Diệu</h3>
                        <h6>7:10:50 PM - 22/4/2021</h6>
                    </div>
                </div>
                <div class="right d-inline-block d-flex justify-content-end">
                    <img src="../../assets/images/menu.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="div_noidung mt-3">
                <h5>Explore the new Huracán STO through videos, <b>STO through videos</b> , car renderings and much more
                    to enjoy every single detail of the latest Lamborghini V10 creation.</h5>
                <div class="div_images w-100">
                    <div class="img_1">
                        <img src="../../assets/images/cho-nhat-tao-543852.jpg" alt=""
                            class="img-fluid images border-radius-images">
                    </div>
                    <div class="img_2">
                        <img src="../../assets/images/cua-hang-do-cu-elle-viet-nam.jpg" alt=""
                            class="img-fluid images border-radius-images">
                    </div>
                </div>
            </div>
            <div class="div_dieukhien w-100 mt-3">
                <img src="../../assets/images/heart-shape-outline-with-lining-at-right-edge.png" alt=""
                    class="img-fluid btn-heart d-inline-block"> <span>56</span>
                <img src="../../assets/images/comment.png" alt="" class="img-fluid btn-heart d-inline-block">
                <span>5</span>
                <img src="../../assets/images/share.png" alt="" class="img-fluid btn-heart d-inline-block">
                <span>1</span>
            </div>
            <div class="div_hien_binh_luan w-100 text-center">
                <div class="div_binh_luan">
                    
                </div>
                <p class="m-0">Hiển thị bình luận</p>
                <img src="../../assets/images/download.png" alt="" class="img-fluid">
            </div>
            <div class="form_them_binhluan w-100">
                <form action="" method="post">
                    <div class="div_them_binhluan w-100">
                        <textarea name="" id="" class="w-100" placeholder="Bình luận ..." rows="1"></textarea>
                        <button type="button" class="meme"><img src="../../assets/images/greetings.png" alt=""
                                class="img-fluid meme"></button>
                        <button type="button" class="picture"><img src="../../assets/images/picture.png" alt=""
                                class="img-fluid picture"></button>
                        <button type="submit"><img src="../../assets/images/enter.png" alt=""
                                class="img-fluid"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="right">right</div>
</main>
<footer></footer>